<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>Përshëdetje Z/Znj. {{ user.get_full_name}}</p>
<table style="border-collapse: collapse;margin-top: 20px" width="100%">
    <thead>
    <tr style="background: #2A3F54;color: white">
        <th align="center" style="padding: 4px">Kujtesë për servisin {{ title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 1px solid #ccc; padding: 4px;">{{ notes }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>